#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: sarahiarteaga # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDpmBIdNboEempzpBYAPlmDCUxIK7aGCPEZnKLcsFWpBSOMBawjDtCalKvX6Tx7G8yGfsXQHqCngnS7j0qnumCDr37wsgyoPPa2V4GlSnOqOpMFHNUFiPaRf+MoFlyWf5vJsVnWebfd2HRccxhG+8dPbp2Jp0UjcGfLZ0/br5GeULZ0GO8Ptu2TNhv4UU+2yf031f1iZYOAG5Lm52n0Gar/YOKr7M9zlpEa8w/rHDIL+faFP9vAB24nn/0ZC3y1lEF3JYgnyJN5Lyurac1GPDJfV6OL1zat8aFtOO21X/Ej1tEq47IfJa9GM4bn4SdcHufhN0yhS9qccuJGq95Dzr1eEG7TmBFH/TUqLSGtGX4Yk+RvP/QLkPtRWDXVxxOK5vOh1CENKdZ7Zsu4kndVi608AMkN8cQniPQ7cwHBV6zUEqYmABGJxQCnupfBJfSj/xuIHdVsjLGsGn/c5IzQ/b+8uusOTtdsI4rmeXlIgpFJCavIOANXj3IWeMjv0iaYQ2U= sarahiarteaga@diplomado
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
